<!DOCTYPE html>
<html>
<head>


</head>
<body>
    <center>
        <table border="1" width="750">
            <tr>
            <td colspan="4" align="center" bgcolor="lightyellow">Academic Qualifications</td><td align="center" bgcolor="lightyellow">Year Awarded</td>
            </tr>
            <tr>
            <td rowspan="2" align="center" colspan="2">Bachelor of Engineering</td><td colspan="2">The University Of Cambridge</td><td>1999</td>
            </tr>
            <tr>
                <td colspan="3" bgcolor="lightyellow" align="center">First Class Honours</td>
            </tr>
            <td rowspan="2" align="center" colspan="2">Master of Computer Science</td><td colspan="2">The University Of TOkoyo</td><td>2006</td>
            <tr>
                <td colspan="3" bgcolor="lightyellow" align="center">The Best Student Of The Year</td>
            </tr>
            <tr>
            <td rowspan="2" align="center" colspan="2">Doctor of Medicine</td><td colspan="2">The University Of Singapore</td><td>2015</td>
            </tr>
            <tr>
                <td colspan="3" bgcolor="lightyellow" align="center">The Best Thesis Award</td>
            </tr>
                
            </table> 
    </center>




</body>
</html>